header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color:  #10B981

;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .logo img {
    height: 40px;
  }

  .search-container {
    display: flex;
    align-items: center;

    .fa-magnifying-glass {
      cursor: pointer;
      font-size: 20px;
      z-index: 2;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .search-bar {
      width: 0; 
      opacity: 0;
      overflow: hidden; 
      transition: all 0.5s ease;
      display: flex; 
      align-items: center;

      input {
        width: 200px;
        padding: 0.4rem 0.8rem;
        border-radius: 20px;
        border: 1px solid #ccc;
        outline: none;
      }
    }

    &.aberto {
      .search-bar {
        width: 210px; 
        opacity: 1;
        margin-left: 10px;
      }
    }
  }
}

nav ul {
  display: flex;
  list-style: none;
  gap: 10rem;
  
  a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
    color: #333;
    
    &:hover { 
      color: #007bff; 
    }
  }
}