<header>

    <div class="logo">
        <img src="logo.png" alt="Minha Logo">
    </div>

    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Produtos</a></li>
            <li><a href="#">Contatos</a></li>
        </ul>
    </nav>

    <div class="search-container">
        <i class="fa-solid fa-magnifying-glass" (click)="alternarBusca()"></i>

        <div class="search-bar" *ngIf="exibirBusca">
         <input type="text" placeholder="Buscar...">
        </div>
    </div>

    
</header>

<body>

</body>

<footer>

</footer>